<th scope="row">{{ index + 1 }}</th>
<td>{{ user.userName }}</td>
<td>{{ user.email }}</td>
<td>
  <button data-mdb-toggle="modal" data-mdb-target="#updatePasswordModal">
    Reset Password
  </button>
</td>

<!-- Update Password Modal -->
<div
  class="modal fade"
  id="updatePasswordModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Book</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="m-2">
          <label>New Password</label>
          <input
            autocomplete="off"
            type="password"
            class="form-control rounded"
            placeholder="Password"
            style="min-width: 125px"
            name="password"
            [(ngModel)]="newPassword"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-mdb-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn"
          (click)="saveChanges()"
          data-mdb-dismiss="modal"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
