<!-- App -->
<div class="flex min-h-screen w-full flex-col items-center justify-center">
  <!-- Navbar -->
  <navbar class="w-full"></navbar>

  <!-- Nav Links -->
  <nav-links class="w-full"></nav-links>

  <!-- Carousel -->
  <carousel class="w-full"></carousel>

  <!-- Categories -->
  <div class="flex h-80 w-full items-center justify-around">
    <div
      class="flex h-64 w-96 items-center justify-center shadow-md transition"
    >
      <div class="bg-image">
        <img
          src="https://mdbcdn.b-cdn.net/img/new/standard/city/053.webp"
          class="img-fluid"
          alt="Sample"
        />
        <div class="mask group" style="background-color: rgba(0, 0, 0, 0.6)">
          <div class="d-flex justify-content-center align-items-center h-100">
            <p
              class="text-2xl font-bold text-white transition-all group-hover:text-3xl group-hover:text-gray-300"
            >
              Fiction
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex h-64 w-96 items-center justify-center shadow-md transition"
    >
      <div class="bg-image">
        <img
          src="https://mdbcdn.b-cdn.net/img/new/fluid/city/055.webp"
          class="img-fluid"
          alt="Sample"
        />
        <div class="mask group" style="background-color: rgba(0, 0, 0, 0.6)">
          <div class="d-flex justify-content-center align-items-center h-100">
            <p
              class="text-2xl font-bold text-white transition-all group-hover:text-3xl group-hover:text-gray-300"
            >
              Non-Fiction
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Categories -->
  <!-- Featured -->
  <div class="w-full">
    <div class="flex h-20 w-full items-center justify-center">
      <p class="text-2xl font-bold">Featured</p>
    </div>
    <div class="flex w-full flex-wrap items-center justify-center p-20">
      <ng-container *ngFor="let book of books">
        <div class="card m-8 h-80 w-60">
          <div class="flex h-40 w-full items-center justify-center">
            <img
              src="{{ book.imageUrl }}"
              class="h-40 object-scale-down"
              alt="Hollywood Sign on The Hill"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <h5 class="card-title">By {{ book.author }}</h5>
            <p class="card-text">Price: ${{ book.price }}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <!-- End Featured -->
  <!-- Footer -->
  <!-- Footer -->
  <footer class="text-lg-start bg-light text-muted text-center">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between border-bottom p-4"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="text-md-start container mt-5 text-center">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">Mike's Books</h6>
            <p>
              Here we talk a little bit about Mike's Books, but not too much.
              It's not the about page. It might have a slogan that doesn't
              appear anywhere else for some reason.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Products</h6>
            <p>
              <a href="#!" class="text-reset">Programming Books</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Cooking Books</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Other Books</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mb-md-0 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Richmond, VA 23223, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              <a href="mailto:michael@michaelmarino.dev"
                >michael@michaelmarino.dev</a
              >
            </p>
            <p><i class="fas fa-phone me-3"></i> +1(804)-456-7890</p>
            <p>
              <i class="fas fa-print me-3"></i>It's {{ getYear() }}. Stop using
              fax.
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="p-4 text-center" style="background-color: rgba(0, 0, 0, 0.05)">
      &copy; {{ getYear() }} Michael Marino
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  <!-- End Footer -->
</div>
