<!-- App -->
<div class="flex min-h-screen w-full flex-col items-center justify-center">
  <!-- Navbar -->
  <app-navbar class="w-full"></app-navbar>

  <!-- Nav Links -->
  <app-nav-links class="w-full"></app-nav-links>

  <!-- Carousel -->
  <app-carousel class="w-full"></app-carousel>

  <!-- Categories -->
  <app-categories class="w-full"></app-categories>

  <!-- Featured -->
  <app-featured class="w-full"></app-featured>

  <!-- Footer -->
  <app-footer class="w-full"></app-footer>
</div>
