<div class="flex min-h-screen w-full flex-col items-center justify-center">
  <div class="flex h-28 w-full items-center justify-center bg-gray-400">
    <h1 id="tableLabel" class="text-3xl font-bold underline">
      Search Logo Cart Account
    </h1>
  </div>
  <div class="flex h-20 w-full items-center justify-center">
    <p>Nav Links Go Here</p>
  </div>
  <div class="flex h-80 w-full items-center justify-center bg-purple-300">
    <p>Carousel goes here</p>
  </div>
  <div class="flex h-80 w-full items-center justify-center">
    <div
      class="m-4 flex h-64 w-64 items-center justify-center bg-black shadow-md transition hover:shadow-2xl"
    >
      <p class="text-white">Fiction</p>
    </div>
    <div
      class="flex h-64 w-64 items-center justify-center bg-black shadow-md transition hover:shadow-2xl"
    >
      <p class="text-white">Non-Fiction</p>
    </div>
  </div>
  <div class="w-full">
    <div class="flex h-20 w-full items-center justify-center bg-purple-300">
      <p>Featured</p>
    </div>
    <div class="flex w-full flex-wrap items-center justify-center bg-gray-400">
      <p *ngIf="!forecasts">Loading...</p>
      <ng-container *ngFor="let forecast of forecasts">
        <div
          class="m-8 h-80 w-60 bg-white p-2 shadow-md transition hover:shadow-2xl"
        >
          <div class="flex h-52 w-full items-center justify-center">
            <p>Date: {{ forecast.date }}</p>
          </div>
          <p>Degrees C: {{ forecast.temperatureC }}</p>
          <p>Degrees F: {{ forecast.temperatureF }}</p>
          <p>In a word: {{ forecast.summary }}</p>
        </div>
      </ng-container>
    </div>
  </div>
  <footer class="flex h-20 items-center justify-center">
    <p>Footer text here</p>
  </footer>
</div>
