<!-- Carousel -->
<div class="flex h-80 w-full items-center justify-center">
  <div
    id="carouselExampleIndicators"
    class="carousel slide h-80"
    data-mdb-ride="carousel"
  >
    <div class="carousel-indicators h-80">
      <button
        type="button"
        data-mdb-target="#carouselExampleIndicators"
        data-mdb-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-mdb-target="#carouselExampleIndicators"
        data-mdb-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-mdb-target="#carouselExampleIndicators"
        data-mdb-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner h-80">
      <div class="carousel-item active h-80">
        <img
          src="https://res.cloudinary.com/mmarino/image/upload/v1644598278/bookshelves_bmucts.jpg"
          class="d-block w-100"
          alt="Messy shelves at bookstore"
        />
      </div>
      <div class="carousel-item h-80">
        <img
          src="https://res.cloudinary.com/mmarino/image/upload/v1644598508/bootstore_wpg3av.jpg"
          class="d-block w-100"
          alt="Customer looking at shelves"
        />
      </div>
      <div class="carousel-item h-80">
        <img
          src="https://res.cloudinary.com/mmarino/image/upload/v1644598562/counter_at_bookstore_mhfoxb.jpg"
          class="d-block w-100"
          alt="Coutner of bookstore"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-mdb-target="#carouselExampleIndicators"
      data-mdb-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-mdb-target="#carouselExampleIndicators"
      data-mdb-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- End Carousel -->
