<!-- Navbar-->
<nav class="flex h-20 w-full items-center justify-between p-8">
  <!-- Search -->
  <form
    #searchForm="ngForm"
    class="input-group d-none d-sm-flex my-auto w-auto"
    (ngSubmit)="onSubmit()"
  >
    <input
      autocomplete="off"
      type="search"
      class="form-control rounded"
      placeholder="Search"
      style="min-width: 125px"
      name="search"
      [(ngModel)]="searchParams"
    />
    <button type="submit">
      <span class="input-group-text d-none d-lg-flex border-0">
        <i class="fas fa-search"></i>
      </span>
    </button>
  </form>
  <!-- Brand logo -->
  <a
    class="navbar-brand me-2 d-flex align-items-center mb-1 text-2xl font-extrabold"
    href="#"
  >
    <p>Mike's</p>
    <img
      src="https://res.cloudinary.com/mmarino/image/upload/v1644550847/SimpleBook_h6isa6.svg"
      alt="Book Icon"
      loading="lazy"
      class="m-1 h-5"
    />
    <p>Books</p>
  </a>
  <div class="flex items-center">
    <a routerLink="/admin" *ngIf="isAuthenticated"
      ><button class="button">Admin</button></a
    >
    <!-- Shopping Cart -->
    <a class="text-reset me-3" routerLink="/cart">
      <i class="fas fa-shopping-cart"></i>
      <span
        *ngIf="cartItems$"
        class="badge rounded-pill badge-notification bg-danger"
      >
        {{ (cartItems$ | async)?.length }}
      </span>
    </a>
    <!-- Notifications -->
    <div class="dropdown">
      <a
        class="text-reset me-3 dropdown-toggle hidden-arrow"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-mdb-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fas fa-bell"></i>
      </a>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="navbarDropdownMenuLink"
      >
        <li>
          <a class="dropdown-item" href="#">Some news</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Another news</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Something else here</a>
        </li>
      </ul>
    </div>
    <!-- User Menu or Login Button-->
    <div *ngIf="!isAuthenticated; else userNameTemplate">
      <button (click)="authenticateWithPopup()">Log In</button>
    </div>
    <ng-template #userNameTemplate>
      <div class="dropdown">
        <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <div class="m-2">
            <button>
              {{ (userData$ | async)?.userData?.name }}
            </button>
          </div>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <li>
            <a class="dropdown-item" routerLink="/orders">Orders</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </ng-template>
  </div>
</nav>
<!-- End Navbar -->
