<table class="table-sm table-hover table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cover</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let book of books; let i = index">
      <tr>
        <th scope="row">{{ i + 1 }}</th>
        <!-- Cover height classes not working, leaving out for now -->
        <td><img src="" /></td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>${{ book.price }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
