<th scope="row">{{ index + 1 }}</th>
<td><advanced-image [cldImg]="img"></advanced-image></td>
<td>{{ book.title }}</td>
<td>{{ book.author }}</td>
<td>{{ book.category }}</td>
<td>{{ book.cost | currency }}</td>
<td>{{ book.markup }}%</td>
<td>
  <button
    class="btn btn-secondary mx-2"
    data-mdb-toggle="modal"
    (click)="openEditBookModal()"
  >
    Edit</button
  ><button (click)="deleteBook()" class="btn btn-secondary">Delete</button>
</td>
<!-- Create New Book Modal -->
<div
  class="modal fade"
  id="editBook{{ book.bookId }}Modal"
  tabindex="-1"
  aria-labelledby="editBookModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Book</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-book-info-form
          (bookInfo)="updateBook($event)"
          [events]="saveBookEventSubject.asObservable()"
          [book]="book"
        ></app-book-info-form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-mdb-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn"
          (click)="saveChanges()"
          data-mdb-dismiss="modal"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
