<!-- Links -->
<div
  class="a:text-black flex h-14 w-full items-center justify-around text-xl font-bold"
>
  <a class="text-black no-underline transition-all hover:underline" href="#"
    >Home</a
  >

  <a class="text-black no-underline transition-all hover:underline" href="#"
    >Shop</a
  >

  <a class="text-black no-underline transition-all hover:underline" href="#"
    >Blog</a
  >

  <a class="text-black no-underline transition-all hover:underline" href="#"
    >About</a
  >
</div>
<!-- End Links -->
