<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Nav Links -->
<app-nav-links></app-nav-links>

<!-- Carousels are bad -->
<!-- <app-carousel></app-carousel> -->
<div class="flex h-96 w-full items-center justify-center">
  <img
    src="https://res.cloudinary.com/mmarino/image/upload/v1644598562/counter_at_bookstore_mhfoxb.jpg"
    alt="Counter at bookstore"
    class="h-96"
  />
</div>

<!-- Categories -->
<app-categories></app-categories>

<!-- Featured -->
<app-featured></app-featured>

<!-- Footer -->
<app-footer></app-footer>
