<div class="flex w-full flex-wrap items-center justify-center p-20">
  <ng-container *ngFor="let book of books">
    <div class="card m-8 h-80 w-60">
      <div class="flex h-40 w-full items-center justify-center">
        <img
          src="{{ book.imageUrl }}"
          class="h-40 object-scale-down"
          alt="{{ book.title }} cover"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <h5 class="card-title">By {{ book.author }}</h5>
        <p class="card-text">Price: ${{ book.price }}</p>
      </div>
    </div>
  </ng-container>
</div>
